<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2012. Rayman Zhang <raymanzhang@gmail.com>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, version 3 of the License.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.mdict"
          android:versionCode="42"
          android:versionName="1.1.2 RC2">

    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="13"/>

    <application
            android:icon="@drawable/app_icon"
            android:label="@string/app_name"
            android:allowBackup="true">
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true"/>
        <activity
                android:label="@string/app_name"
                android:name=".MainForm"
                android:theme="@style/Theme.MDict"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:launchMode="singleTask"
                android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="mdict.intent.action.MUITL_WIN_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity
                android:name=".FloatingForm"
                android:theme="@style/Theme.MDict.Translucent"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:launchMode="singleInstance"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <!-- This activity's launchMode must not be 'singleTask' otherwise it will cause Main activity to
            be shown as background window -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="colordict.intent.action.SEARCH"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="mdict.intent.action.SEARCH"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ngc.fora.action.LOOKUP"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/app_defaultsize_w"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/app_defaultsize_h"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/app_minimumsize_w"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/app_minimumsize_h"/>

        <activity
                android:name=".LibraryFrame"
                android:theme="@style/Theme.MDict"
                android:label="@string/library"></activity>
        <activity
                android:name=".FavoritesFrame"
                android:theme="@style/Theme.MDict"
                android:label="@string/favorites"></activity>
        <activity
                android:name=".HistoryFrame"
                android:theme="@style/Theme.MDict"
                android:label="@string/history"></activity>
        <activity
                android:name=".SettingFrame"
                android:theme="@style/Theme.MDict"
                android:label="@string/settings"></activity>

        <provider
                android:name=".DictContentProvider"
                android:authorities="mdict.cn" />

        <receiver android:name=".services.ClipboardMonitorStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".services.ClipboardMonitor">
        </service>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- <uses-permission android:name="android.permission.SET_ORIENTATION" /> -->
    <uses-permission android:name="android.permission.GET_CLIPS"/>
    <uses-permission android:name="android.permission.READ_CLIPS"/>
    <uses-permission android:name="android.permission.WRITE_CLIPS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
</manifest> 