<!--
<STYLE TYPE="text/css">
@font-face {
    font-family: 'MBanquet';
    font-style: normal;
    font-weight: normal;
    src: url('content://mdict.cn/localfile/fonts/mnxyantijian.ttf');
}

* {
    font-family: 'MBanquet', serif
}

body {
    background-color: #CCE8CC !important;
}

</STYLE>
-->
